.main-weather {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing-xl);
}
#main-weather .main-weather {
  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
  @container (max-width: 420px) {
    flex-direction: column;
  }
}

.main-weather > .description {
  flex: 1;
}

.weather-icon > img {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1;
}

.main-weather .temp {
  color: var(--color-light);
  text-shadow: 2px 0px 7px #7a545487;
  font-size: var(--font-size-xl);
  font-weight: 900;
}

.current-location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-s);
}

.current-location > img {
  height: 30px;
}
